<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include("../partials/bootstrap"); %> <!--You might need to change the path to bootstrap-->
    <link rel="stylesheet" href="/static/CreateTaskStyle.css">

    <title>Your Tasks</title>
</head>
<body>
    <%- include("../partials/navbar"); %> <!-- you might need to change this too -->
    
    <div class="container mt-5">
        <%- include("../partials/flashMessages"); %>
        <h1>Task List</h1>
        <div class="row">
            <div class="col-9">
                <a href="/tasks/new" type="button" class="btn btn-primary">New Task</a>
            </div>
            <div class="col-3 justify-content-end">
                <form action="" method="get">
                    <div class="input-group">
                        <select name="sort" id="sort" class="form-select">
                            <% if (sort == "priority") { %>
                                <option value="priority" selected>Priority</option>
                                <option value="dueDate">Due Date</option>
                            <% } else { %>
                                <option value="priority">Priority</option>
                                <option value="dueDate" selected>Due Date</option>
                            <% } %>
                        </select>
                        <button type="submit" class="btn btn-primary">Sort</button>
                    </div>
                </form>
            </div>
        </div>
        <% if (overdueTasks.length > 0) { %>
            <h2 class="mt-3">Overdue Tasks</h2>
            <div class="list-group mt-3">
                <% overdueTasks.forEach((task) => { %>
                    <div class="list-group-item priority-<%= task.priority %>">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="mb-1"><%= task.name %></h5>
                                <p class="mb-1"><%= task.description %></p>
                            </div>
                            <div class="col-3">
                                <small><strong>Due: </strong><%= task.formattedDueDate() %></small>
                            </div>
                            <div class="col-3">
                                <a href="/tasks/<%= task.id %>/complete" class="btn btn-success">Complete</a>
                                <a href="/tasks/<%= task.id %>/edit" class="btn btn-primary">Edit</a>
                                <% if (task.priority == 2) { %>
                                    <a href="/tasks/<%= task.id %>/delete" class="btn btn-dark">Delete</a>
                                <% } else { %>
                                    <a href="/tasks/<%= task.id %>/delete" class="btn btn-danger">Delete</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
            <hr>
        <% } %>
        <h2 class="mt-3">Pending Tasks</h2>
        <% if (tasks.length > 0) { %>
            <div class="list-group mt-3">
                <% tasks.forEach(function(task) { %>
                    <div class="list-group-item priority-<%= task.priority %>">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="mb-1"><%= task.name %></h5>
                                <p class="mb-1"><%= task.description %></p>
                            </div>
                            <div class="col-3">
                                <small><strong>Due: </strong><%= task.formattedDueDate() %></small>
                            </div>
                            <div class="col-3">
                                <a href="/tasks/<%= task.id %>/complete" class="btn btn-success">Complete</a>
                                <a href="/tasks/<%= task.id %>/edit" class="btn btn-primary">Edit</a>
                                <% if (task.priority == 2) { %>
                                    <a href="/tasks/<%= task.id %>/delete" class="btn btn-dark">Delete</a>
                                <% } else { %>
                                    <a href="/tasks/<%= task.id %>/delete" class="btn btn-danger">Delete</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <p class="mt-3">No tasks available.</p>
        <% } %>
        <% if (completedTasks.length > 0) { %>
            <hr>
            <h2 class="mt-3">Completed Tasks</h2>
            <div class="list-group mt-3">
                <% for (task of completedTasks) { %>
                    <div class="list-group-item" style="background-color:whitesmoke">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="mb-1"><%= task.name %></h5>
                                <p class="mb-1"><%= task.description %></p>
                            </div>
                            <div class="col-3">
                                <small><strong>Due: </strong><%= task.formattedDueDate() %></small>
                            </div>
                            <div class="col-3">
                                <a href="/tasks/<%= task.id %>/incomplete" class="btn btn-warning">Mark Incomplete</a>
                                <a href="/tasks/<%= task.id %>/edit" class="btn btn-primary">Edit</a>
                                <% if (task.priority == 2) { %>
                                    <a href="/tasks/<%= task.id %>/delete" class="btn btn-dark">Delete</a>
                                <% } else { %>
                                    <a href="/tasks/<%= task.id %>/delete" class="btn btn-danger">Delete</a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <!-- <p>No tasks available.</p> -->
        <% } %>
    </div>
    <%- include("../partials/footer"); %> <!-- and this too -->

    <!-- <script>
        function markAsDone(taskId) {
            // You can add JavaScript code here to handle marking the task as done
            // For example, you can make an AJAX request to update the task status in the backend
            console.log('Marking task as done:', taskId);
        }
    
        function sortTasks(sortBy) {
            // Get the list of tasks
            // const taskList = document.getElementById('tasks');
            // Convert the HTMLCollection to an array
            // const tasksArray = Array.from(taskList.children);
            const tasksArray = <%= tasks %>;
            // Sort the tasks array based on the selected sorting criteria
            tasksArray.sort((a, b) => {
                if (sortBy === 'priority') {
                    return parseInt(b.classList[1].split('-')[1]) - parseInt(a.classList[1].split('-')[1]);
                } else if (sortBy === 'date') {
                    return new Date(a.querySelector('small').textContent) - new Date(b.querySelector('small').textContent);
                }
            });
            // Reorder the tasks in the task list
            taskList.innerHTML = '';
            tasksArray.forEach(task => {
                taskList.appendChild(task);
            });
        }
    </script> -->
</body>
</html>