<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include("../partials/bootstrap"); %> <!--You might need to change the path to bootstrap-->

    <title>User List</title>
</head>
<body>
    <%- include("../partials/navbar"); %> <!-- you might need to change this too -->
    
    <div class="container mt-5">
        <% if (userToView) { %>
            <h1><strong><u>Editing:</u> </strong><%= userToView.firstName %> <%= userToView.lastName %></h1>
            <form action="" method="post">
                <fieldset class="mt-4">
                    <!-- User ID -->
                    <div class="form-floating mb-3">
                        <input type="text" name="id" id="idInput" class="form-control" placeholder="0" value="<%= userToView.id %>" disabled>
                        <label for="idInput">User ID</label>
                    </div>

                    <div class="row">
                        <div class="col">
                            <!-- First Name -->
                            <div class="form-floating mb-3">
                                <input type="text" name="firstName" id="firstNameInput" class="form-control" placeholder="Jamal" value="<%= userToView.firstName %>">
                                <label for="firstNameInput">First Name</label>
                            </div>
                        </div>
    
                        <div class="col">
                            <!-- Last Name -->
                            <div class="form-floating mb-3">
                                <input type="text" name="lastName" id="lastNameInput" class="form-control" placeholder="The Otter" value="<%= userToView.lastName %>">
                                <label for="lastNameInput">Last name</label>
                            </div>
                        </div>
                    </div>
    
                    <!-- Email -->
                    <div class="form-floating mb-3">
                        <input type="email" name="email" id="emailInput" class="form-control" placeholder="jamal@gmail.com" value="<%= userToView.email %>">
                        <label for="emailInput">Email</label>
                    </div>
    
                    <!-- Phone -->
                    <div class="form-floating mb-3">
                        <input type="tel" name="phone" id="phoneInput" class="form-control" placeholder="+15555555555" value="<%= userToView.phone %>">
                        <label for="phoneInput">Phone</label>
                    </div>
                
                    <!-- Enabled -->
                    <div class="form-check mb-3">
                        <input type="checkbox" name="isEnabled" id="isEnabledCheckbox" class="form-check-input" <% if (!userToView.disabled) { %> checked <% } %>>
                        <label for="isEnabledCheckbox">Account Enabled?</label>
                    </div>
                    
                    <!-- Is Administrator -->
                    <div class="form-check mb-3">
                        <input type="checkbox" name="isAdmin" id="isAdminCheckbox" class="form-check-input" <% if (userToView.administator) { %> checked <% } %>>
                        <label for="isAdminCheckbox">Is Administrator?</label>
                    </div>

                    <div class="float-end">
                        <a href="/admin/users/<%= userToView.id %>" class="btn btn-outline-primary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Submit Changes</button>
                    </div>
                </fieldset>
            </form>
        <% } %>
    </div>

    <%- include("../partials/footer"); %> <!-- and this too -->
</body>
</html>