<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include("../partials/bootstrap"); %> <!--You might need to change the path to bootstrap-->

    <title>User List</title>
</head>
<body>
    <%- include("../partials/navbar"); %> <!-- you might need to change this too -->
    
    <div class="container mt-5">
        <%- include("../partials/flashMessages"); %>
        <h1><strong><u>Confirm Password Reset:</u></strong> <%= userToReset.firstName %> <%= userToReset.lastName %></h1>
        <br>
        <p>Are you sure you want reset this user's password?</p>

        <a href="/admin/" class="btn btn-outline-secondary">Cancel</a>
        <a href="?confirm=true" class="btn btn-danger">Reset Password</a>
    </div>

    <%- include("../partials/footer"); %> <!-- and this too -->
</body>
</html>