<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include("../partials/bootstrap"); %> <!--You might need to change the path to bootstrap-->

    <title>Edit Event</title>
</head>
<body>
    <%- include("../partials/navbar"); %> <!-- you might need to change this too -->
    
    <div class="container mt-5">
        <%- include("../partials/flashMessages"); %>
        <h1>Edit Event</h1>
        <form action="" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" required value = "<%= event.name%>">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3" required><%= event.description %></textarea>
            </div>
            <div class="form-group">
                <label for="dueDate">Start Date:</label>
                <input type="datetime-local" class="form-control" id="dueDate" name="startDate" value = "<%= startDateFillIn %>">
            </div>
            <div class="form-group">
                <label for="dueDate">End Date:</label>
                <input type="datetime-local" class="form-control" id="dueDate" name="endDate" value = "<%= endDateFillIn %>">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
            <a href="/events/<%= event.id %>/delete" class="btn btn-danger mt-3">Delete</a>
        </form>
    </div>

    <%- include("../partials/footer"); %> <!-- and this too -->
</body>
</html>